.app-header {
  padding:
    calc(3rem + env(safe-area-inset-top))
    clamp(2rem, 15vw, 6.5rem)
    1rem;
}

.app-title {
  margin: 0;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 1.25;
}

.app-date-time {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.8rem;
  color: #727171;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
}

.app-observer-location {
  margin-top: 2rem;
}

@media (max-height: 600px) {
  .app-header {
    padding-top: calc(1.75rem + env(safe-area-inset-top));
  }

  .app-observer-location {
    margin-top: 1rem;
  }
}
